@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@200;300;400&display=swap");

:root {
  --pinkVar: #ff577f;
  --blueVar: #f2fbff;
  --blueVar2: #e5f5fc;
  --whiteVar: #fff;
  --blackVar: #00000000;
}

body {
  background-color: var(--blueVar);
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body, textarea, .save, input, .note-date{
  font-family: "Poppins", sans-serif;
}

.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color:var(--blackVar);
}

.dark-mode h1 {
  color: var(--whiteVar);
}

.container {
  max-width: 960px;
  min-height: 100vh;

  margin: 0px auto 0px auto;
  padding: 0px 15px 0px 15px;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.delete-icon {
  padding: 2px;
  border: 1px var(--whiteVar) solid;
  border-radius: 100px;
  color: var(--whiteVar);
  size: 1.3em;
  cursor: pointer;
}

.note.new {
  background-color: var(--blueVar2);
}

textarea {
  background-color:  var(--blueVar2);
  border: none;
  resize: none;
 
}
textarea:focus {
  outline: none;
}
.saved-note-text {
  color: var(--whiteVar);
  
  background-color: var(--pinkVar);
  border: none;
  resize: none;
  min-height: 110px;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  
  background-color: #ff577f;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.note-text {
  font-size: 12px;
  justify-content: center;
  max-width: 50px;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note-date{
  color: var(--whiteVar);
}
.search {
  display: flex;
  align-items: center;
  background-color: var(--whiteVar);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search input {
  border: none;
  background-color: transparent;
 position: relative;
 width: 100%;
}
.search input:focus {
  outline: none;
}
.search-icon {
  margin: 2px;
  color: var(--whiteVar);
  padding: 3px;
  border-radius: 100px;
  background: var(--pinkVar);
  size: 1.3em;
  cursor: pointer;
}

.search, .note{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}